{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'survey/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="cs.css">
</head>
<body>
   <div class="container"><br>
        <h2>Survey</h2>
        <table class="table table">

        <thead>
                <tr>
                    <th>Title</th>
                    <th>content</th>
                    <th>Rate A</th>
                    <th>Rate B</th>
                    <th>Rate C</th>
                    <th>Rate D</th>
                    <th>Rate E</th>
                </tr>
            </thead>
            <tbody>

         {% for question in questions %}
            {% for answer in answers %}
            
                {% if not  question.id == answer.Question_id %}
                   {% if not user.id == answer.user_id %}
                

                    <tr>
                    <form method="POST" action="answer">
                        {%  csrf_token %}

                    <td>{{ question.name }}</td>
                    <td>{{ question.content }}</td>
                    <td> <input type="radio" name="rate" value="1"></td>
                    <td> <input type="radio" name="rate" value="2"></td>
                    <td> <input type="radio" name="rate" value="3"></td>
                    <td> <input type="radio" name="rate" value="4"></td>
                    <td> <input type="radio" name="rate" value="5"></td>
                    <td> <input type="hidden" name="question_id" value="{{question.id}}"></td>
                    <td> <input type="hidden" name="user_id" value="{{request.user.id}}"></td>
                   <td> <input class="btn btn-success active" type="submit" value="choose"></td>
                    </form>
                    </tr>
         
               
                
                    {%endif%}
                {% else %}
                    <tr>
                    <form method="POST" action="answer">
                        {%  csrf_token %}

                    <td>{{ question.name }}</td>
                    <td>{{ question.content }}</td>
                    <td> <input type="radio" name="rate" value="1"></td>
                    <td> <input type="radio" name="rate" value="2"></td>
                    <td> <input type="radio" name="rate" value="3"></td>
                    <td> <input type="radio" name="rate" value="4"></td>
                    <td> <input type="radio" name="rate" value="5"></td>
                    <td> <input type="hidden" name="question_id" value="{{question.id}}"></td>
                    <td> <input type="hidden" name="user_id" value="{{request.user.id}}"></td>
                    <td> <input class="btn btn-success active" type="submit" value="choose"></td>
                    </form>
                    </tr>
                {% endif %}

            {% endfor %}
            {% endfor %}
           

            </tbody>
        </table>

    </div>
 
</body>
</html>